[{rest_app, [
    {http_rest, [
        {port, 8001},        %% HTTP listen port

        {nr_listeners, 1000},
        {backlog, 1024},
        {max_connections, 100000},
        %% set ssl to false for http:// instead of https://
        %% if ssl is setup then ensure that priv/ssl/cert.pem is the server cert
        %% and priv/ssl/key.pem is the server private key in PEM format.
        {ssl, false},

        %% the maximum number of requests which will be serviced
        %% with the same process (by cowboy) when http client
        %% implements HTTP/1.1 keep-alive
        {max_keepalive, 10000},

        {max_read_length, 12582912},  %% 12 * 1024 * 1024 or 12 MB
        {max_read_timeout_msec, 10000}
    ]}
]}].